{% block sidebar %}

<style>
        .card{
            box-shadow: 0 4px 4px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Get Started</h5>
    <div class="card-body">
        <p class="card-text"> This awesome blogging site is made to explore and share your own ideas, thoughts, experiences and knowledge with the world. <br><br>Share, help and grow!</p>
        <a href="#"
           class="btn btn-primary">Sign in</a>
    </div>
</div>
</div>

{% endblock sidebar %}